<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Orba\Csp">
		<plugin disabled="false" name="Plugin_Orba_Csp" sortOrder="10" type="Plugin\Orba\Csp"/>
	</type>
</config>
