<?xml version="1.0"?>
<!--
/**
 * Copyright © 2023 Lingaro sp. z o.o. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="lingaro_csp" translate="label" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Lingaro CSP</label>
            <tab>security</tab>
            <resource>Lingaro_Csp::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="report_uri" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Use build-in reporting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="link" translate="label" type="label" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Lingaro\Csp\Model\Config\Frontend\ReportUri</frontend_model>
                    <depends>
                        <field id="report_uri">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
